@font-face {
  font-family: Dongle;
  src: url("./../assets/font/Dongle-Regular.ttf");
}

@font-face {
  font-family: Back Issues BB;
  src: url("./../assets/font/BackIssuesBB_reg.otf");
}

@font-face {
  font-family: Zen Kaku Gothic Antique;
  src: url("./../assets/font/ZenKakuGothicAntique-Regular.ttf");
}
@font-face {
  font-family: Adventure;
  src: url("./../assets/font/Adventure.otf");
}

h1,
h2,
h3 {
  font-family: "Adventure";
}

h1 {
  font-size: 55px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 14px;
}

h4,
p,
figcaption {
  font-family: "Back Issues BB";
}
