.container__about {
  @include slide-in-bottom(0s);
  margin-bottom: 20vh;
  overflow-x: hidden;
  @include laptop {
    margin-left: 5vw;
    @include slide-in-left(0s);
  }

  .row {
    align-items: center;
    .title {
      font-size: 35px;
      @include tablet {
        font-size: 75px;
        margin: 0 auto;
      }

      @include laptop {
        font-size: 90px;
      }
      &__image {
        width: 125px;
        @include tablet {
          width: 200px;
        }
      }
    }
  }
  .about__text {
    padding: 1em;

    font-size: 12.5px;
    text-align: justify;

    @include tablet {
      font-size: 20px;
    }

    .important {
      font-size: 17.5px;
      @include tablet {
        font-size: 25px;
        margin-bottom: 10%;
      }
    }
  }

  .about__audio {
    position: fixed;
    right: 0;
    top: 5%;
    width: 50px;
    height: 50px;
    padding: 3%;
    background-color: $orange;
    border-radius: 100% 0 0 100%;
    @include slide-in-right(0.25s);

    @include laptop {
      padding: 1%;
    }
  }
}
