* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $white;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $orange;
  border-radius: 30px;
}
