@font-face {
  font-family: Back Issues BB;
  src: url("./../assets/font/BackIssuesBB_reg.otf");
}

@font-face {
  font-family: Adventure;
  src: url("./../assets/font/Adventure.otf");
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  z-index: 10000;
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  margin: 1% auto; /* 15% from the top and centered */
  border: 25px solid #000000;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  font-size: 100px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 183, 0);
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Adventure";
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 14px;
}

h4,
p,
figcaption {
  font-family: "Back Issues BB";
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column--justifyContentCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.important {
  color: #f54748;
}

.card {
  height: 125px;
  width: 240px;
  background: #f6f7f8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em auto;
}

@media (min-width: 768px) {
  .card {
    height: 170px;
    width: 350px;
  }
}

@media (min-width: 1025px) {
  .card {
    height: 200px;
    width: 425px;
  }
}

.card__image {
  width: 100px;
}

@media (min-width: 768px) {
  .card__image {
    width: 150px;
  }
}

@media (min-width: 1025px) {
  .card__image {
    width: 175px;
  }
}

@media (min-width: 768px) {
  .card__title {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .card__title {
    font-size: 30px;
  }
}

.card .card__details,
.card .important {
  font-size: 17px;
  padding-top: 10px;
}

@media (min-width: 1025px) {
  .card .card__details,
  .card .important {
    font-size: 20px;
  }
}

.card__button {
  background-color: #f54748;
  color: #f54748;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -4.5em;
  border: none;
  margin-right: 0.5em;
  border: none;
  cursor: pointer;
}

.card__button__logo {
  width: 20px;
}

@media (min-width: 768px) {
  .card__button__logo {
    width: 22.5px;
  }
}

@media (min-width: 1025px) {
  .card__button__logo {
    width: 25px;
  }
}

.carousel--padding {
  padding-bottom: 5em;
}

@media (min-width: 1025px) {
  .carousel--padding {
    margin-left: 5rem;
  }
}

@media (min-width: 768px) {
  .carousel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.responsiveContact {
  display: block;
  width: 45%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}

.submeniu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  letter-spacing: 5px;
  z-index: 9;
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  .submeniu {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
            animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
}

.submeniu__element {
  width: auto;
  height: 50px;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border-radius: 30px;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .submeniu__element {
    padding: 0 3%;
  }
}

@media (min-width: 1025px) {
  .submeniu__element {
    margin-right: 1em;
  }
}

.submeniu__element__image {
  width: 28px;
}

.submeniu__element__title {
  margin-left: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #f6f7f8;
}

@media (min-width: 768px) {
  .submeniu__element__title {
    margin-left: 10px;
    font-size: 15px;
  }
}

.submeniu__element:hover {
  background-color: #5ABB36;
}

.submeniu__element--active {
  background-color: #54AE32;
}

.submeniu__element--active:hover {
  background-color: #54AE32;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0%;
  width: 100vw;
  background-color: #f6f7f8;
  z-index: 999;
}

.navbar__logo {
  width: 35px;
  color: black;
}

.navbar__logo--active {
  padding: 1em;
  background-color: #54AE32;
  border-radius: 100%;
}

.navbar__logo--active--witdh {
  padding: 0.5em;
}

.navbar__logo--width {
  width: 50px;
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f6f7f8;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #54AE32;
  border-radius: 30px;
}

.container__home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7.5em;
}

.container__home .background {
  background-image: url(./../assets/images/headerlogo.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99;
  position: relative;
}

.container__home .background::after {
  content: "";
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f7f8;
  position: relative;
  bottom: -70%;
  border-radius: 100% 100% 0 0;
  z-index: -98;
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  .container__home .background {
    height: 500px;
    background-size: 150%;
  }
}

@media (min-width: 1800px) {
  .container__home .background {
    height: 500px;
    background-size: 100%;
  }
}

.container__home .home__elements {
  margin-top: -10%;
  padding: 0 1em;
}

@media (min-width: 768px) {
  .container__home .home__elements {
    margin-top: -5%;
    padding: 0 2.5em;
  }
}

@media (min-width: 1025px) {
  .container__home .home__elements {
    margin-top: -5%;
    padding-bottom: 2.5em;
  }
}

.container__home .home__elements__title {
  text-align: center;
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .container__home .home__elements__title {
    font-size: 75px;
  }
}

@media (min-width: 1025px) {
  .container__home .home__elements__title {
    font-size: 100px;
  }
}

.container__home .home__elements__description {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s both;
  padding-top: 5%;
  text-align: justify;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .container__home .home__elements__description {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.container__home .home__elements__subtitle {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.25s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.25s both;
  padding-top: 5%;
  text-align: center;
  padding-left: 5%;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .container__home .home__elements__subtitle {
    font-size: 30px;
  }
}

@media (min-width: 1025px) {
  .container__home .home__elements__subtitle {
    font-size: 45px;
  }
}

.container__home .carousel {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.offert {
  display: none;
}

.disclaimer {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s both;
  padding-left: 5%;
  font-size: 12px;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .disclaimer {
    font-size: 15px;
  }
}

.disclaimer .important {
  cursor: pointer;
}

#modal {
  -webkit-animation: slide-in-bck-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
  animation: slide-in-bck-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
  z-index: 999999;
  padding: 5vw;
  max-width: 60vw;
  background-color: #f6f7f8;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 15%;
  top: 15%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  #modal {
    right: 25%;
    font-size: 20px;
    padding: 3vw;
  }
}

@media (min-width: 1025px) {
  #modal {
    padding: 1vw;
    right: 37%;
  }
}

#modal img {
  width: 60vw;
}

@media (min-width: 768px) {
  #modal img {
    width: 50vw;
  }
}

@media (min-width: 1025px) {
  #modal img {
    width: 25vw;
  }
}

#modal #modal__title {
  text-align: center;
  font-size: 30px;
}

#modal #modal__close {
  margin-left: auto;
  font-size: 25px;
  cursor: pointer;
}

.oldPrice {
  text-decoration: line-through;
  opacity: 0.5;
}

.container__event {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
  padding-top: 2em;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  .container__event {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
            animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
}

.container__event .row__title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
}

.container__event .row__title .title {
  margin-left: auto;
  font-size: 55px;
}

@media (min-width: 768px) {
  .container__event .row__title .title {
    margin: auto;
    font-size: 75px;
  }
}

@media (min-width: 1025px) {
  .container__event .row__title .title {
    font-size: 90px;
  }
}

.container__event .row__title .title__image {
  width: 150px;
  margin-left: 25px;
  padding-right: 1em;
}

.container__event .card__event {
  height: 20vh;
  width: 85%;
  margin: 1.5em auto;
  padding: 1em;
}

@media (min-width: 768px) {
  .container__event .card {
    width: 42.5%;
  }
}

.container__event .card__image {
  width: 150px;
}

@media (min-width: 1025px) {
  .container__event .card__image {
    width: 200px;
  }
}

.container__event .card__info {
  padding-left: 1em;
}

.container__event .card__title {
  font-size: 20px;
}

@media (min-width: 768px) {
  .container__event .card__title {
    font-size: 22.5px;
  }
}

@media (min-width: 1025px) {
  .container__event .card__title {
    font-size: 25px;
  }
}

.container__event .card__details {
  font-size: 10px;
}

@media (min-width: 768px) {
  .container__event .card__details {
    font-size: 12.5px;
  }
}

@media (min-width: 1025px) {
  .container__event .card__details {
    font-size: 15px;
    width: 25vw;
  }
}

.container__event .card .medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ffad39;
  margin-top: 1em;
  font-family: "Back Issues BB";
}

@media (min-width: 768px) {
  .container__event .card .medium {
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  .container__event .card .medium {
    font-size: 17.5px;
  }
}

.container__meniu {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  .container__meniu {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
            animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
}

.container__meniu .row__title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
}

.container__meniu .row__title .title {
  margin-right: auto;
  margin-left: auto;
  font-size: 55px;
}

@media (min-width: 768px) {
  .container__meniu .row__title .title {
    margin-left: auto;
    margin-right: 45%;
    font-size: 50px;
  }
}

@media (min-width: 1025px) {
  .container__meniu .row__title .title {
    font-size: 90px;
    padding-left: 0;
  }
}

.container__meniu .row__title .title__image {
  width: 100px;
  margin-left: 25px;
  padding-right: 1em;
}

@media (min-width: 768px) {
  .container__meniu .row__title .title__image {
    width: 150px;
  }
}

.food__elements {
  margin-bottom: 10em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.food__elements .card__food {
  width: 80vw;
  margin: 1em;
  position: relative;
}

@media (min-width: 768px) {
  .food__elements .card__food {
    width: 79vw;
    height: 250px;
  }
}

@media (min-width: 1025px) {
  .food__elements .card__food {
    width: 82vw;
    height: 450px;
  }
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__title {
    font-size: 30px;
    width: 16vw;
  }
}

.food__elements .card__food .card__image {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__image {
    width: 200px;
  }
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__image--forBigPicture {
    width: 150px;
  }
}

.food__elements .card__food .card__image--height {
  height: 100px;
  width: auto;
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__image--height {
    height: 150px;
  }
}

.food__elements .card__food .row .column--justifyContentCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  .food__elements .card__food .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
}

.food__elements .card__food .card__subtitle {
  font-size: 12px;
  width: 100px;
  color: #ffad39;
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__subtitle {
    font-size: 15px;
    width: 16vw;
  }
}

.food__elements .card__food .card__button {
  display: none;
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__button {
    margin-bottom: -8em;
  }
}

.food__elements .card__food .card__details {
  position: absolute;
  bottom: 5px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .food__elements .card__food .card__details {
    bottom: 15px;
    font-size: 20px;
  }
}

.food__elements .card__food .card__details .important {
  font-size: 12.5px;
}

@media (min-width: 768px) {
  .food__elements .card__food .card__details .important {
    font-size: 22.5px;
  }
}

[id*="food-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container__about {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
  margin-bottom: 20vh;
  overflow-x: hidden;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  .container__about {
    margin-left: 5vw;
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
            animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
}

.container__about .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__about .row .title {
  font-size: 35px;
}

@media (min-width: 768px) {
  .container__about .row .title {
    font-size: 75px;
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {
  .container__about .row .title {
    font-size: 90px;
  }
}

.container__about .row .title__image {
  width: 125px;
}

@media (min-width: 768px) {
  .container__about .row .title__image {
    width: 200px;
  }
}

.container__about .about__text {
  padding: 1em;
  font-size: 12.5px;
  text-align: justify;
}

@media (min-width: 768px) {
  .container__about .about__text {
    font-size: 20px;
  }
}

.container__about .about__text .important {
  font-size: 17.5px;
}

@media (min-width: 768px) {
  .container__about .about__text .important {
    font-size: 25px;
    margin-bottom: 10%;
  }
}

.container__about .about__audio {
  position: fixed;
  right: 0;
  top: 5%;
  width: 50px;
  height: 50px;
  padding: 3%;
  background-color: #000;
  border-radius: 100% 0 0 100%;
  -webkit-animation: slide-in-right 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s both;
  animation: slide-in-right 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  .container__about .about__audio {
    padding: 1%;
  }
}

.container__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
  animation: slide-in-bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1025px) {
  .container__contact {
    -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
            animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  .container__contact .row {
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1025px) {
  .container__contact .row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.container__contact .row .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .container__contact .row .title {
    font-size: 75px;
  }
}

@media (min-width: 1025px) {
  .container__contact .row .title {
    margin: 0 auto;
    padding-left: 10vw;
    font-size: 90px;
  }
}

.container__contact .row .title__image {
  width: 150px;
}

@media (min-width: 768px) {
  .container__contact .row .title__image {
    width: 200px;
  }
}

.container__contact .contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .container__contact .contact__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container__contact__map {
  padding-top: 1em;
  width: 90vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 768px) {
  .container__contact__map {
    width: 75vw;
  }
}

@media (min-width: 1025px) {
  .container__contact__map {
    width: 45vw;
    float: left;
  }
}

@media (min-width: 1025px) {
  .container__contact__map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.container__contact__info {
  padding-top: 1em;
  padding-bottom: 20%;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container__contact__info {
    width: 75vw;
  }
}

@media (min-width: 1025px) {
  .container__contact__info {
    width: 45vw;
  }
}

@media (min-width: 1025px) {
  .container__contact__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    
  }
}

.container__contact__info .info__elements {
  font-size: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .container__contact__info .info__elements {
    font-size: 25px;
  }
}

@media (min-width: 1025px) {
  .container__contact__info .info__elements {
    font-size: 30px;
  }
}

.container__contact__info .info__elements .important {
  font-weight: bold;
  text-decoration: none;
}

.container__contact__info .info__elements .important:hover {
  color: #12b71f;
}
/*# sourceMappingURL=main.css.map */